@font-face {
    font-family: 'Font';
    src: url('../fonts/Cairo-Regular.ttf');
}

@font-face {
    font-family: 'FontB';
    src: url('../fonts/Cairo-Bold.ttf');
}

@font-face {
    font-family: 'FontSB';
    src: url('../fonts/Cairo-SemiBold.ttf');
}

@font-face {
    font-family: 'FontL';
    src: url('../fonts/Cairo-Light.ttf');
}

@font-face {
    font-family: 'FontEL';
    src: url('../fonts/Cairo-ExtraLight.ttf');
}

body {
    font-family: 'Font';
    color: #000;
    font-size: 16px;
}

.btn {
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C0B24E;
    border-radius: 25px;
    border: 0px;
    display: table;
    margin: auto;
    margin-top: 10px;
    outline: none!important;
}

.btn:hover {
    color: #fff!important;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C0B24E!important;
    border-radius: 25px;
    border: 0px;
    display: table;
    margin: auto;
    margin-top: 10px;
    outline: none!important;
}

.btn:focus {
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C0B24E;
    border-radius: 25px;
    border: 0px;
    display: table;
    margin: auto;
    margin-top: 10px;
    outline: none!important;
}

/*navbar*/

header {
    margin-bottom: 10px;
}

#nav_bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.logo_out {
    display: inline;
}

.links {
    display: inline;
    margin-right: 40px;
}

#nav_bar ul {
    list-style: none;
    display: table;
    margin: auto;
    padding: 0px;
}

#nav_bar ul li {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 10px;
}

#nav_bar ul li a {
    color: #000;
    text-decoration: none;
}

.hvr-underline-from-right:before {
    background: #C0B24E!important;
}

@media(max-width:1200px) {
    .links {
        margin-right: 0px;
    }
    #nav_bar ul li {
        margin-left: 14px;
    }
}

@media(max-width:991px) {
    .logo_out {
        display: table;
        margin: auto;
        margin-bottom: 20px;
    }
    .links {
        display: table;
        margin: auto;
    }
    #nav_bar ul {
        text-align: center;
    }
    #nav_bar ul li {
        margin-left: 15px;
    }
}

@media(max-width:767px) {
    .hidden-xs {
        display: none;
    }
}

/* xs menu */

.xs-navbar-btn {
    position: absolute;
    top: 30px;
    left: 15px;
    background-color: transparent;
    border: none;
    color: #353535;
    font-size: 24px;
}

.xs-navbar-btn:focus {
    outline: none;
    color: #9cc442;
}

.xs-navbar {
    position: fixed;
    right: -100%;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.xs-navbar-content {
    position: relative;
    height: 100%;
    float: right;
    width: 250px;
    max-width: 80%;
    padding-top: 25px;
    background-color: rgba(252, 252, 252, 1);
}

.xs-navbar-content > i {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
}

.xs-navbar-content > ul {
    list-style: none;
    text-align: right;
    padding: 0px;
}

.xs-navbar-content > ul > li {
    padding: 4px 25px;
    display: block;
}

.xs-navbar-content > ul > li > a {
    color: #1f211f;
    font-size: 18px;
    text-decoration: none;
    line-height: 25px;
}

.fa-bars {
    color: #C0B24E;
}

/* START FIRST SLIDER */

#first_carousal {
    position: relative;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    #first_carousal {
        margin-top: -20px;
    }
}

#first_carousal .item img {
    height: 600px;
}

#first_carousal .owl-theme .owl-nav {
    width: 100%;
    margin-top: 0px;
    top: 45%;
    position: absolute;
}

#first_carousal > div > div.owl-nav > div.owl-next {
    position: absolute;
    left: 30px;
}

#first_carousal > div > div.owl-nav > div.owl-prev {
    position: absolute;
    right: 30px;
}

#first_carousal .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    padding: 15px 20px !important;
    border-radius: 50% !important;
    background: #383838 !important;
    display: inline-block;
    cursor: pointer;
}

#first_carousal .owl-theme .owl-nav [class*='owl-']:hover {
    background: #C0B24E !important;
}

#first_carousal .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
}

/* sec_section */

#sec_section {
    background-color: #C0B24E;
    padding-bottom: 50px;
}

#sec_section iframe {
    width: 100%;
    height: 400px;
}

.countdown {
    height: 300px;
    color: #fff;
    margin-top: 45px;
}

.count {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
}

.countdown h3 {
    display: block!important;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px
}

.countdown div {
    text-align: center;
    margin: auto;
}

.countdown b {
    display: block;
    font-size: 24px;
}

/* parteners */

#parteners {
    padding-bottom: 30px;
}

#parteners h1 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #C0B24E;
    text-align: center;
    font-family: 'FontB';
}

#parteners .owl-carousel {
    padding: 50px;
    position: relative;
}

#parteners .item {
    vertical-align: middle;
    display: table;
    margin: 0 auto;
}

#parteners .item img {
    display: block;
    width: 140px;
    height: 80px
}

#parteners .owl-theme {
    position: relative;
}

#parteners div.owl-nav > div.owl-next {
    left: -10px;
    padding: 0px !important;
    width: 20px !important;
    margin: 0 !important;
}

#parteners div.owl-nav > div.owl-prev {
    right: -10px;
    padding: 0px !important;
    width: 20px !important;
    margin: 0 !important;
}

#parteners .owl-theme .owl-nav [class*='owl-'] {
    color: #a1a1a1;
    font-size: 24px;
    background: transparent !important;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#parteners .owl-theme .owl-nav [class*='owl-']:hover {
    color: #000;
}

/* why */

#why h3 {
    color: #B6A73B;
    margin-bottom: 30px;
}

#why .why_content p {
    line-height: 1.7;
}

.fa-caret-left {
    margin-left: 10px;
    color: #B6A73B;
}

#why .why_content .text_square {
    border: 3px solid #B6A73B;
    padding: 5px;
}

@media(max-width:767px) {
    .hidden-xs {
        display: none;
    }
    #why h3 {
        text-align: center;
    }
    #why .why_content {
        text-align: center;
    }
}

/* time_line */

#time-title {
    margin-top: 5%;
    margin-bottom: 5%;
}

#time_line {
    height: auto;
    width: auto;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 5%;
}

#time_line .row {
    padding: 0px;
}

#time_line .item {
    height: 150px;
    text-align: right;
}

.line .circle {
    margin: auto;
    background: #fff;
    border: 4px solid #B6A73B;
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
}

.line .line_inner {
    margin: auto;
    border: 2px solid #B6A73B;
    content: "";
    height: 170px;
    width: 1px;
}

#time_line p {
    font-size: 20px;
}

@media (max-width:767px) {
    .xs-hidden {
        display: none;
    }
}

.nav-tabs {
    border-bottom: 0px;
    float: none;
    display: table;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.nav-tabs > li {
    margin-left: 10px;
    margin-bottom: 10px;
}

.nav-tabs > li > a {
    border-radius: 25px;
    border: 2px solid #B6A73B;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
    border-radius: 25px;
    border: 2px solid #B6A73B;
    background-color: #B6A73B;
    color: #000;
}

@media(max-width:767px) {
    .item p,
    .item h1 {
        text-align: center;
    }
}

@media(max-width:500px) {
    .item {
        height: auto!important;
    }
    .nav-tabs > li {
        float: none;
    }
}

/*sponsers*/

#sponsers_carousal {
    margin-bottom: 50px;
    position: relative;
    background-color: #D3CFCE;
    padding-bottom: 50px;
    padding-top: 50px;
}

#sponsers_carousal h2 {
    text-align: center;
    font-size: 24px;
    color: #000;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 40px;
}

#sponsers_carousal h2 a {
    text-decoration: none;
    color: #B6A73B;
}

#sponsers_carousal .item img {
    width: 150px;
    height: 80px;
    margin: auto;
}

#sponsers_carousal .owl-theme {
    position: relative;
}

#sponsers_carousal div.owl-nav > div.owl-next {
    left: -10px;
    padding: 0px !important;
    width: 20px !important;
    margin: 0 !important;
}

#sponsers_carousal div.owl-nav > div.owl-prev {
    right: -10px;
    padding: 0px !important;
    width: 20px !important;
    margin: 0 !important;
}

#sponsers_carousal .owl-theme .owl-nav [class*='owl-'] {
    color: #a1a1a1;
    font-size: 24px;
    background: transparent !important;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#sponsers_carousal .owl-theme .owl-nav [class*='owl-']:hover {
    color: #000;
}


#statics {
    margin-bottom: 50px;
}

/*sponser_program*/

#sponser_program {
    background-color: #1C1C1C;
    padding-bottom: 50px;
    padding-top: 50px;
}

#sponser_program img {
    margin-bottom: 10px;
}

#sponser_program .item {
    background-color: #fff;
    text-align: center;
}

#sponser_program .price {
    padding-bottom: 10px;
    color: #C0B24E;
}

#sponser_program .owl-theme {
    position: relative;
}

#sponser_program div.owl-nav > div.owl-next {
    left: -10px;
    padding: 0px !important;
    width: 20px !important;
    margin-left: -25px!important;

}

#sponser_program div.owl-nav > div.owl-prev {
    right: -10px;
    padding: 0px !important;
    width: 20px !important;
    margin-right: -25px!important;

}

#sponser_program .owl-theme .owl-nav [class*='owl-'] {
    color: #a1a1a1;
    font-size: 24px;
    background: transparent !important;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#sponser_program .owl-theme .owl-nav [class*='owl-']:hover {
    color: #000;
}

/*media */

#media {
    background-image: url(../pic/media/back.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

#media img {
    width: 120px;
    height: 60px;
    margin-bottom: 30px;
}

#media h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}

#map {
    height: 500px;
}

.loctaion {
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: #C0B24E;
    margin: 0px;
    padding: 30px;
}

#contact h3 {
    color: #C0B24E;
    font-size: 30px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    line-height: 2;
    color: #000;
}

#contact .btn {
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C0B24E;
    border-radius: 25px;
    border: 0px;
    display: table;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact label {
    margin-bottom: 10px;
}

.form-control {
    border-color: #C0B24E;
}

.form-control:focus {
    border-color: #C0B24E;
}

@media(max-width:767px) {
    #contact h3 {
        text-align: center;
    }
    #contact ul {
        text-align: center;
        padding: 0px;
    }
}

/*thank*/

#thank {
    background-image: url(../pic/last-section-bg.png);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

#thank .text {
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 2;
}

#thank .btn {
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C0B24E;
    border-radius: 25px;
}

/*footer*/

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
    background-color: #C0B24E;
}

footer p {
    font-size: 14px;
    color: #FFF;
    display: inline;
}

footer a {
    text-decoration: none;
    color: #2c2c2c;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: #2c2c2c;
}

footer ul {
    list-style: none;
    float: left;
    padding: 0px;
    margin: 0px;
    display: inline;
}

footer li {
    display: inline;
    margin-right: 10px;
}

footer li a img {
    transition: .5s ease-in-out;
}

footer li a img:hover {
    transform: translateY(-5px);
}

@media(max-width:767px) {
    footer {
        padding-top: 40px;
    }
    footer p {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    footer ul {
        display: table;
        margin: auto;
        float: none;
    }
}


/*---------------------------------------- start board section -----------------------------------------*/

.board-section {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.board-content {
    direction: ltr;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 768px;
    height: 348px;
    background-color: #dae1d2;
    border: 5px solid #539ea3;
    padding: 7px;
}

.xs-y-scroll {
    overflow: auto;
}

.form-ele {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.form-ele > input {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}

.board-content label {
    margin: 0px;
    user-select: none;
}

.board-content label:hover {
    cursor: pointer;
}

.board-content .d {
    width: 71px;
    height: 35px;
    background-color: #003d61;
    border: 1px solid #03113a;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
}

.board-content .c {
    width: 72px;
    height: 53px;
    background-color: #b5b9ba;
    border: 1px solid #03113a;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

.board-content .b {
    width: 86px;
    height: 53px;
    background-color: #080145;
    border: 1px solid #03113a;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}

.board-content .e {
    width: 35px;
    height: 35px;
    background-color: #529ea4;
    border: 1px solid #03113a;
    text-align: center;
    color: #000;
    font-size: 14px;
    padding-top: 7px;
}

.board-content .f {
    width: 35px;
    height: 18px;
    background-color: #060134;
    border: 1px solid #03113a;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-top: 0px;
}

.board-content .a {
    width: 105px;
    height: 71px;
    background-color: #b00002;
    border: 1px solid #e5afae;
    text-align: center;
    color: #000;
    font-size: 28px;
    padding-top: 16px;
}

.block {
    width: 95px;
    height: 75px;
    background-color: #b6bec6;
    border: 1px solid #000;
}

.groub1 {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}

.groub2 {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.groub3 {
    width: 35px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 87px;
}

.groub4 {
    width: 193px;
    height: 88px;
    display: inline-block;
    position: absolute;
    left: 71px;
    top: 116px;
    background-color: aqua;
}

.e58 {
    position: absolute;
    left: 0px;
    top: 18px;
}

.f52 {
    position: absolute;
    bottom: 9px;
    right: -8px;
    transform: rotate(270deg);
}

.groub5 {
    width: 105px;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 98px;
    transform: translateX(-50%);
    background-color: aqua;
}

.groub6 {
    width: 193px;
    height: 88px;
    display: inline-block;
    position: absolute;
    right: 71px;
    top: 116px;
    background-color: aqua;
}

.e41 {
    position: absolute;
    right: 0px;
    top: 18px;
}

.f48 {
    position: absolute;
    bottom: 9px;
    left: -8px;
    transform: rotate(270deg);
}

.e46 {
    margin-left: 18px;
}

.groub7 {
    width: 35px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 87px;
}

.groub8 {
    width: 560px;
    display: inline-block;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.groub9 {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.groub10 {
    width: 560px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.groub11 {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.exit {
    display: inline-block;
    color: #9a0910;
    width: 47px;
    padding-top: 10px;
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}

#exit1 {
    text-align: center;
    display: inline-block;
    color: #9a0910;
    width: 47px;
    padding-top: 10px;
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    left: -1px;
    top: 46px;
    transform: rotate(270deg);
}

#exit1 span {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    background-color: #9a0910;
    border: 2px solid #000;
    height: 13px;
    width: 47px;
}

#exit2 {
    text-align: center;
    display: inline-block;
    color: #9a0910;
    width: 47px;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 45px;
    transform: rotate(270deg);
}

#exit2 span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    background-color: #9a0910;
    border: 2px solid #000;
    height: 13px;
    width: 47px;
}

.entrance {
    width: 94px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 9px;
    text-align: center;
    font-weight: bold;
}

.entrance span {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    background-color: #9a0910;
    border: 2px solid #000;
    height: 13px;
    width: 94px;
}

.board-description {
    display: inline-block;
    width: 768px;
    min-height: 100px;
    background-color: #539ea3;
    padding: 5px;
}

.right-description {
    text-align: right;
}

.right-description > p {
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 2px;
}

.color-span {
    vertical-align: top;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    margin-left: 2px;
}

.cs1 {
    background-color: #b00002;
}

.cs2 {
    background-color: #080145;
}

.cs3 {
    background-color: #b5b9ba;
}

.cs4 {
    background-color: #003d61;
}

.cs5 {
    background-color: #529ea4;
}

.cs6 {
    background-color: #060134;
}

.left-description p {
    font-weight: bold;
    line-height: 25px;
    margin-top: 12px;
}

#form-popup {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99;
}

.form-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    width: 767px;
    max-width: 95%;
    height: auto;
    max-height: 95%;
    padding: 5px 15px;
    padding-bottom: 15px;
    overflow: auto;
}

.close-btn {
    position: absolute;
    top: 12px;
    left: 15px;
}

.close-btn i {
    color: #666;
    font-size: 30px;
    transition: .3s all ease-in-out;
}

.close-btn i:hover {
    cursor: pointer;
    color: #000;
    transform: scale(1.1, 1.1);
}

.places-table {
    margin: auto;
    width: 400px;
    border: 2px solid #ddd;
}

.places-table thead {
    border-top: 2px solid #ddd;
    user-select: none;
}

.places-table td,
th {
    text-align: center;
}

#form-popup form {
    text-align: center;
}

#form-popup form .form-group {
    text-align: right;
}

#form-popup h4 {
    text-align: right;
    margin-bottom: 15px;
    margin-top: 30px;
}

/*xs*/

@media (max-width:767px) {
    .places-table {
        width: 255px;
    }
}

/*---------------------------------------- end board section -------------------------------------------*/
